<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tachisatok.notelesson">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlack"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.select.RangeSelectActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.base.BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.game.GameActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.debug.DebugActivity"/>
    </application>

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false"/>
    <meta-data
        android:name="google_analytics_adid_collection_enabled"
        android:value="false"/>
</manifest>